# Arquivos de Ambiente
.env

# Diretório do Ambiente Virtual
.venv/

# Arquivos compilados e caches do Python
**/__pycache__/
**/*.py[cod]

# Arquivos de credenciais (mantendo sua regra)
*.apps.googleusercontent.com.json